<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/65f331b0-be07-4ada-b821-07612346f8d7/resourcegroups/ProductVersionManagerBackend20210909235118ResourceGroup/providers/Microsoft.Web/sites/ProductVersionManagerBackend</ResourceId>
    <ResourceGroup>ProductVersionManagerBackend20210909235118ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/65f331b0-be07-4ada-b821-07612346f8d7/resourceGroups/ProductVersionManagerBackend20210909235118ResourceGroup/providers/Microsoft.ApiManagement/service/ProductVersionManagerBackendapi/apis/ProductVersionManagerBackend</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://productversionmanagerbackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>6273b5fb-edc2-4c0c-8198-910b18fb2289</ProjectGuid>
    <MSDeployServiceURL>productversionmanagerbackend.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ProductVersionManagerBackend</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$ProductVersionManagerBackend</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <TargetFramework>net5.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>